.banner-container{
    background-color:white;
    color:black;
    align-content: center;
    width:80%;
    margin-left:10%;
    border-bottom: 1px solid gray;
    padding-bottom:5%;
    @media (max-width:800px){
        margin-left:0
    }
    .icon1{
        margin-right:2%;
    }
    p{
        width:30%;
        font-size: 1.7em;
        // line-height: 1.5rem;
        // margin-left:20%;
        @media (max-width:800px){
            width:80%;
            font-size:1em;
        }
    }
    a{
        color:black;
    }
    .about{
        display:flex;
        justify-content: space-around;
        // border: 1px solid red;
        align-items: center;
        .profile-pic{
            height:15%;
            width:20%;
            @media (max-width:1200px){
                width:40%
            }
            @media (max-width:800px){
                width:50%
            }
        }
        @media (max-width:800px){
            flex-direction: column-reverse;
        }

    }
    
    img{
        // height:355%;
        // margin-top:2%;
        // height:250px;
        // width:250px;
        margin-top:2%;
        border-radius:5%;
        overflow: hidden;
        @media (max-width:800px){
            height:200px;
            width:200px;
        }
    }
    @media (max-width:800px){
        width:100%;
        flex-direction: column;
        
    }
}

FontAwesomeIcon{
    height:200%;
}
