.banner-container{
    // display:flex;
    // width:80%;
    // border: 1px solid red; 
    // height:600px;
    /* justify-content:flex-start; */
    align-content: center;
    .icon1{
        margin-right:2%;
    }
    p{
        width:60%;
        margin-left:20%;
    }
    a{
        color:black;
    }
    
    img{
        // height:355%;
        margin-top:2%;
        height:200px;
        width:200px;
        border-radius:50%;
        overflow: hidden;
        @media (max-width:700px){
            height:200px;
            width:200px;
        }
    }
    @media (max-width:700px){
        width:100%;
        flex-direction: column;
        
    }
}

FontAwesomeIcon{
    height:200%;
}
