.contact-container{
    background-color:white;
    color:black;
    
    margin-top:2%;
    @media (max-width:800px){
        width:100%;
        margin-left:0;
    }
    .one{
        height:35px;
        width:300px;
        border-radius:10px;
        border:1px solid black;
        background-color:lightgray;
        margin-bottom:2%;
    }
    .inputs{
       display:flex;
       flex-direction: column;
       align-items: center;
    }
}
p{
    font-size: 1.5em;
}