.projects-container{
    display:flex;
    justify-content: space-evenly;
   height:auto;
   width:auto;
   img{
    width:80%;
    height:100%;
}
@media (max-width:700px){
    flex-direction:column;
    width:100%;
}
}
.project-card{
    width:40%;
}